<!DOCTYPE HTML>
<!--[if IE 6]>
<html id="ie6" lang="en-US" class="ie ie6 lt-ie9">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US" class="ie ie7 lt-ie9">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US" class="ie ie8 lt-ie9">
<![endif]-->
<!--[if gte IE 9]>
<html lang="en-US" class="ie ie9">
<![endif]-->
<!--[if !(IE)]><!-->
<html lang="en-US" class="">
<!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0 minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="Patrick Bills">
  <meta name="description" content="
      <%= "#{current_page.data.title} , a presentation by  #{current_page.data.author}" %>" >

  <title>
      <%= "#{data.presentation.title} ||  #{data.presentation.author}"  %>
  </title>

      <%= stylesheet_link_tag "reset" %>
      <%= stylesheet_link_tag "flowtime" %>
      <%= stylesheet_link_tag "theme" %>
      <%= stylesheet_link_tag "theme-titles" %>
      <%= stylesheet_link_tag "custom" %>
      <%= stylesheet_link_tag "terminal" %>
            
      <%= stylesheet_link_tag "prism" %>
      
      <link rel="stylesheet"   
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


</head>

<body class="">

  <div class="flowtime">
      <%= yield %>   
  </div>

  <div class="titles">
    <div class="title-prev"></div>
    <div class="title-next"></div>
  </div>
  
  <img src="img/icer_logo_small.png" class="ft-page-logo">
  
  <%= javascript_include_tag "brav1toolbox" %>
  <%= javascript_include_tag "flowtime" %>
  <%= javascript_include_tag "prism" %>     

  <script type="text/javascript">
    
    // Configuration API test
    Flowtime.showProgress(true);
    // Flowtime.fragmentsOnSide(true);
    // Flowtime.fragmentsOnBack(true);
    // Flowtime.useHistory(false);
    // Flowtime.slideInPx(true);
    // Flowtime.sectionsSlideToTop(true);
    // Flowtime.gridNavigation(false);
    // Flowtime.useOverviewVariant(true);
    // Flowtime.parallaxInPx(true);
    // Flowtime.clicker(true);
    // Flowtime.loop(true);
    //


    var prevTitle = document.querySelector(".title-prev");
    var nextTitle = document.querySelector(".title-next");

    prevTitle.addEventListener("click", Flowtime.prev, false);
    nextTitle.addEventListener("click", Flowtime.next, false);

    Flowtime.addEventListener("flowtimenavigation", onNavigation, false);

    function onNavigation(e)
    {
      var prevPage = Flowtime.getPrevPage();
      var nextPage = Flowtime.getNextPage();
      if (prevPage === null) {
        prevTitle.innerHTML = "";
      } else {
        prevTitle.innerHTML = "&lt; " + prevPage.getAttribute("data-title");
      }
      if (nextPage === null) {
        nextTitle.innerHTML = "";
      } else {
        nextTitle.innerHTML = nextPage.getAttribute("data-title") + " &gt;";
      }
    }

    // starts the application with configuration options
    Flowtime.start();
  </script>

</body>
</html>
