<!DOCTYPE HTML>
<!--[if IE 6]>
<html id="ie6" lang="en-US" class="ie ie6 lt-ie9">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US" class="ie ie7 lt-ie9">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US" class="ie ie8 lt-ie9">
<![endif]-->
<!--[if gte IE 9]>
<html lang="en-US" class="ie ie9">
<![endif]-->
<!--[if !(IE)]><!-->
<html lang="en-US" class="">
<!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Patrick Bills">
  <meta name="description" content="<%= "#{current_page.data.title} , a presentation by  #{current_page.data.author}" %>" >

  <title>
      <%= "#{data.presentation.title} ||  #{data.presentation.author}"  %>
  </title>
      <%= stylesheet_link_tag "reset" %>
      <%#= stylesheet_link_tag "flowtime" %>
      <%= stylesheet_link_tag "theme" %>
      <%= stylesheet_link_tag "theme-titles" %>
      <%= stylesheet_link_tag "terminal" %>      
      <%= stylesheet_link_tag "custom" %>
      <%= stylesheet_link_tag "slideprint" %>

      <link rel="stylesheet"   
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body class="printable">

  <div class="flowtime printable">
      <%= yield %>   
  </div>

  <%= javascript_include_tag "prism" %>     

</body>
</html>
