// If you feel better with a license attached, consider this MIT-licensed, see
// http://opensource.org/licenses/MIT and copyrighted by Nicolas Kuttler. Or public
// domain. Whichever you prefer.
// To use the style, just use <pre class="cssterm"><code>foobar</code></pre>
// See http://kuttler.eu/post/css-only-terminal/ for a demo.

// The basics
$term-name: ""
$term-length-small: 4px
$term-padding: $term-length-small * 3
$term-foreground: #63de00
$term-background: #090909
$term-opacity: 0.9
// The window decoration
$term-window-foreground: #c9c9c9
$term-window-background: #767676


.cssterm
	box-sizing: border-box
	position: relative

	border-radius: 0 0 $term-length-small $term-length-small
	box-shadow: $term-length-small $term-length-small/2 $term-length-small*2 #090909
	padding: $term-padding

	word-wrap: break-word
	overflow-wrap: break-word

	font-family: "Andale Mono", Courier, monospace
	background: lighten($term-background, 100-$term-opacity * 100)
	background: rgba($term-background, $term-opacity)
	color: $term-foreground
	margin-bottom: 1ex
	max-width: 80ex

	&:before
		display: block
		position: relative
		width: 100%
		left: -$term-padding
		top: -$term-padding
		padding: $term-padding

		content: $term-name
		color: $term-window-foreground
		font-size: smaller
		font-weight: bold
		line-height: $term-length-small

		background:  $term-window-background
