/* a theme for flowtime.js by Pat Bills @billspat */

html {
    background-color: #767676;
}

body {
    font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 100%;
	line-height: 1.5rem;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
	color: #000;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
	
}


.navigation, .credits, .switches {
	display: none;
}

.ft-page {
	padding: 3rem 1rem 1rem 2rem;
	background-color: #00605f; /*  #424242; */
    color:white;
}

.ft-page-logo {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 1000;
    opacity: 0.5;
}

.flowtime h1,
.flowtime h2,
.flowtime h3,
.flowtime h4,
.flowtime h5,
.flowtime h6,
.flowtime p,
.flowtime ul,
.flowtime ol,
.flowtime dl,
.flowtime li,
.flowtime dt,
.flowtime dd {
	display: block;
	     -o-transition: all 0.3s cubic-bezier(.77, .10, .22, 1);
	   -moz-transition: all 0.3s cubic-bezier(.77, .10, .22, 1);
	-webkit-transition: all 0.3s cubic-bezier(.77, .10, .22, 1);
			transition: all 0.3s cubic-bezier(.77, .10, .22, 1);
}

/* headings */

.flowtime h1,
.flowtime h2,
.flowtime h3,
.flowtime h4,
.flowtime h5,
.flowtime h6 {
	font-family: "Gill Sans", sans-serif;
	font-weight: regular;
	color:#B9DDEB;;
	text-shadow: 1px 2px 0 rgba(255,255,255,0.2);
}


.flowtime h1,  .flowtime h1.title {
    background-color:transparent;
    font-size:4rem;
    line-height:4.5rem;
    color:black;
}

.handson::after {
/* icon indicating hands-on exercise */
    content:url(../img/redlaptop-icon.png);
    position:absolute;
    right:1em;
    }

.bigger {
    font-size: 300%;
}

.flowtime h1 {
    border-radius: 0.5rem;  
	font-size: 2.5rem;
	line-height: 3rem;
	margin: 1rem 0 1rem 0rem;
    background-color:#e7fbfd;
    width:100%;
    padding: 0.5rem;
    padding-left:1rem;
}

.flowtime h2 {
	font-size: 2.5rem;
	line-height: 2.5rem;
	margin: 2rem 0;
}

.flowtime h3 {
	font-size: 2rem;
	line-height: 2rem;
	margin: 2rem 0;
}

.flowtime h4,
.flowtime h5,
.flowtime h6 {
	font-size: 1.75rem;
	line-height: 2rem;
	margin: 2rem 0;
}

/* paragraph */

.flowtime p {
	font-size: 1.6rem;
	line-height: 1.75rem;
	margin: 1.75rem 0;
}

/* lists */

.flowtime ul,
.flowtime ol,
.flowtime dl {
	font-size: 1.75rem;
	line-height: 2rem;
	margin: 2rem 0;
}

.flowtime ul,
.flowtime ol,
.flowtime dl {
	margin: 0 2rem;
}

.flowtime li,
.flowtime dd {
	line-height: 1.75rem;
	margin-bottom: 1rem;
	position: relative;
}

.flowtime dt {
	position: relative;
}

.flowtime ul li:before,
.flowtime dl dt:before {
	content: "\2022";
	text-align: right;
	color: #808080;
	margin-right: 0.5rem;
	display: inline-block;
	position: absolute;
	left: -1rem;
}

.flowtime ol {
	counter-reset: list;
}

.flowtime ol li:before {
	content: counter(list) ".";
	counter-increment: list;
	font-size: 0.75em;
	color: #808080;
	margin-right: 0.5rem;
	display: inline-block;
	position: relative;
	top: -0.075em;
}

.flowtime dl dd {
	font-size: 0.8em;
	margin-left: 1rem;
}

.flowtime small {
	font-size: 0.6em;
	vertical-align: middle;
}

.flowtime pre,
.flowtime code {
	font-family: Courier, Consolas, monospace;
	margin: 1rem 0;
    font-size: 1.5rem;
}

.flowtime code .bigger {
    font-size: 3em !important;
}

.flowtime strong {
	font-weight: bold;
	color: #313131;
	text-shadow: 1px 2px 0 rgba(0,0,0,0.5);
}

/* quotes and citations */

.flowtime q {
	quotes: "“" "”";
}

.flowtime q:before {
	content: open-quote;
}

.flowtime q:after {
	content: close-quote;
}

.flowtime blockquote {
    color:white;
	font-size: 1.5rem;
	margin: 1.5rem 2rem;
	padding: 1rem;
	background-color: rgba(0,0,0,0.3);
	border-left: 0.5rem solid rgba(255,255,255,0.5);
	border-right: 0.5rem solid rgba(255,255,255,0.5);
    
	border-radius: 0.5rem;
}

.flowtime q,
.flowtime cite,
.flowtime blockquote {
	font-style: italic;
}

/* variations */

.flowtime .small {
	font-size: 0.6em;
}

.flowtime .attention {
	color: #ff0000;
	text-shadow: 1px 2px 0 #000000, 1px -1px 0 rgba(0,0,0,0.3), -1px -1px 0 rgba(0,0,0,0.3), -1px 1px 0 rgba(0,0,0,0.3)
}

.flowtime sup {
	font-size: 0.7em;
	position: relative;
	top: -0.5em;
}

/* links and focus */

.flowtime a,
.flowtime a:link,
.flowtime a:visited,
.flowtime a:hover,
.flowtime a:active,
.flowtime a:focus, 
.flowtime a:hover img,
.flowtime a:active img,
.flowtime a:focus img {
	color: #32affc;
	text-shadow: 1px 1px 0 #000000;
	     -o-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
			transition: all 0.3s;
}

.flowtime a:hover,
.flowtime a:active,
.flowtime a:focus, 
.flowtime a:hover img,
.flowtime a:active img,
.flowtime a:focus img {
	color: #ff9900;
	outline: none;
	background-color: rgba(255,255,255,0.2);
	-webkit-box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.5);
	        box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.5);
}

.flowtime a:hover img,
.flowtime a:active img,
.flowtime a:focus img {
	-webkit-box-shadow: 1px 2px 10px 5px rgba(0,0,0,0.5);
	        box-shadow: 1px 2px 10px 5px rgba(0,0,0,0.5);
}

/* stackable content */

.flowtime .stack {
	width: 100%;
	height: 100%;
	margin: 1rem 0;
	position: relative;
}

.flowtime .stacked {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.flowtime img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

/* horizontally and vertically centered stackable content */

.flowtime .stack-center {
	text-align: center;
	white-space: nowrap;
	position: absolute;
	top: 	2rem;
	right: 	2rem;
	bottom: 2rem;
	left: 	2rem;
}

.flowtime .stack-center:before {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.flowtime .stack-center .stacked-center {
	white-space: normal;
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.flowtime .stack-center .stacked-center li {
	text-align: left;
}

/* media queries */

@media screen and (min-height: 41em) and (min-width: 80em)
{
	html {
		font-size: 120%;
	}

	.ft-page {
		
	}
}

@media screen and (min-height: 50em) and (min-width: 90em)
{
	html {
		font-size: 140%;
	}

	.ft-page {
		
	}
}

@media screen and (max-device-height: 578px)
{
	html {
		font-size: 50%;
	}

	.ft-page {
		
	}
}

/* parallax demo */

.parallax-demo {
	overflow: hidden;
}

.parallax-demo .kingmix {
	position: absolute;
	left: 20%;
	bottom: -10%;
	z-index: 50;
}

.parallax-demo .sax {
	position: absolute;
	left: 6%;
	bottom: -18%;
	z-index: 40;
}

.parallax-demo .tone {
	position: absolute;
	left: 49%;
	bottom: -32%;
	z-index: 30;
}

