.titles {
    text-align: justify;
    padding: 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
    color:#B9DDEB;
    }

.titles:after {
    content: "";
    display: table;
    clear: both;
    }

.title-prev {
    width: 45%;
    float: left;
    cursor: pointer;
    }

.title-next {
    text-align: right;
    width: 45%;
    float: right;
    cursor: pointer;
    }

