.ft-section
    .ft-page
        .x-stack-center
            .stacked-center
                %h3(style="color:white") ICER Training Series
                %h1.title Introduction to the Command Line
                %p
                    %blockquote Anything done once is worth doing again
                %p Pat Bills, Programmer/Analyst 
                %p MSU ICER http://icer.msu.edu
                %p billspat@msu.edu 

    .ft-page
        %h1 Class Goals
        %p Basic understandings of: 
        %ul
            %li What is Linux & Unix
            %li Know how to get connected to a linux server
            %li The unix 'shell': Using a computer with only the keyboard
            %li Programming : writing shell scripts 
            %li Why are we doing this? Context
            %li Basic comfort level : the terminal is not scary

    .ft-page
        %h1 Class Structure
        %ol
            %li Hands On: get connected and dive in
            %li Lecture: what are we doing and why? Lecture
            %li Hands On: Linux shell features
            %li Hands On: shell scripting 
            %li What's next
        
        %h4  Exercises for you are indicated with this image: <img height="100px" src="img/redlaptop-icon.png">
        %p Use your green sticky to indicate you are ok, <br/>red sticky to indicate you need help

    .ft-page
        %h1 Why use the HPCC?
        %h3 We'll use the MSU High Performance Computing Cluster for this course
        %p Why?  We don't need high performance for this class (or maybe ever)
        %ul
            %li consistent experience (Windows, Mac laptop diversity)
            %li it's a system we know
            %li highly availability 
            %li course is pre-requisite for other HPCC courses
        %h3 skills you will learn apply to any unix computer (including Macs)

.ft-section
    .ft-page
        .x-stack-center
            .stacked-center
                %h1 Step One    
                %p Get Connected

    .ft-page
        %h1 Steps to get started
        %p  0. Install/identify laptop software to connect
        %p  1. Connect to a Unix machine with secure shell
        %p  2. Does your account work?  troubleshoot if necessary
        %p  3. test basic commands

    .ft-page
        %h1.handson Step 0. Install Identify Software To connect
        %h3 Windows
        %p install "MobaXterm" free Unix emulation program, required for 'ssh'
        %ul
            %li If you haven't downloaded/installed it use the USB Flash memory to do so 
            %li You could also use Putty, or a few other alternatives
        %h3 Mac OS X
        %p includes a unix terminal, no install needed for this class
        %ul
            %li Open the application /Applications/Utilities/Terminal.app
        
    .ft-page
        %h1.handson Step 1. Connect
        %p In Moba Xterm or in Terminal please type: 
        %pre.cssterm
            ssh yournetid@hpcc.msu.edu
        %p
        %ul
            %li ssh = secure shell = make a secure connection to a remote unix shell
            %li yournetid = your actual MSU netid = HPCC accounts use netid for consistency
            %li hpcc.msu.edu = the Internet address of the remote computer
        %p Enter MSU password - as you type there is no indication you are typing!      
        %p Confirm...

    .ft-page
        %h1 Once Connected
        %img(src="img/hpcc-login-screenshot.jpg" height="80%" )
        
    .ft-page
        %h1 Once connected - windows 
        %img(src="img/hpcc-login-screenshot-moba.jpg"  height="80%" )
            
    .ft-page
        %h1 Once connected - command prompt
        %p
        %code.bigger    
            [netit@gateway-00 ~]$ 
    
    .ft-page
        %h1.handson First command: ls
        %p How to follow these examples 
        %ul
            %li don't type the "$"; it indicates the line start
            %li at the end of the command, press enter, one command per line
            %li sometimes we will comment a line with #, don't type that either
            
        :preserve    
            <pre class="cssterm"> 
            $ ls -l
            $ whoami
            $ quota
            </pre>

    .ft-page
        %h1  Connection Successful
        %p Back to lecture

.ft-section
    .ft-page
        .x-stack-center
            .stacked-center
                %h1 Background and Motivation
                %blockquote What Are We Doing &amp; Why?
                
    .ft-page
        %h1 Dangerously Oversimplified operating system (OS) model
        %p Operating system is between the computer and your programs
        %p Computer <i class="fa fa-laptop fa-3x"></i> &harr; {OS} &harr; &nbsp;<i class="fa fa-mouse-pointer"></i>  &nbsp; Application
        
        %p example application to OS: open a file with Notepad 
        %ul
            %li User: click menu File | Open
            %li Application: start a file open windwo
            %li Application: as OS for file list
            %li OS: asked for files, provide list of files  <i class="fa fa-files-o"></i>
            %li App: display OS file list
            %li user select a file
            %li App: read file and display in window

    .ft-page 
        %h1  The "shell" 
        %p Computer <i class="fa fa-laptop"></i> &harr; OS &harr; Shell  <i class="fa fa-keyboard-o"></i>
        %p A shell is an application that lets you type commands to the OS
        %p Shell example: view a file with the shell
        %p User: enter command to list files : ls
        %p Shell : ls command means ask OS for file list
        %ul
            %li OS: asked for files, provide list of files
            %li Shell: display OS file list depending on command extras
            %li User: see the file you want, open file
            %li User: enter command cat myfile.txt
            %li Shell: display file myfile.txt to screen

    .ft-page
        %h1 What are the Shell commands?
        %img(src="img/scripting_toolbox.png" align="right" width="300px")
        %p The shell lets you run programs and capture output of those programs
        %p Shell has some "built-in" features = very basic programming language features
        %p Shell can be the glue script to bind programs on the system together
        %p Shell language is ONE tool in your Unix tool box for automation.   
        %p Other tools: Perl, Python, Ruby, C, etc
        %p These all make it easy to ask the system to do something.   
        %p Unix command can be called from the above scripting languages, and those scripts can be called from the shell
        %p Unix philosophy : best tool for the job, but allow the tools to work together
    
    .ft-page
        %h1 Operating Systems
        %p Mac & Windows are like sleek cars
        %p Unix is a like a set of legos.  You can build what you want. 
        %p Mac however has a Unix core so all of what we do today will work
                
        
    .ft-page 
        %h1  Which is more efficent?
        %p Novel, common, short task: windows
        %p repeated, custom, programmed tasks: shell/CLI
        %p shell can chain different programs together
        %p shell can run your saved list of commands (shell scripts) with variables
        %p one line command to download, open, extra, reformat todays weather data
        %code 
            curl -s &quot;http://api.wunderground.com/auto/wui/geo/ForecastXML/index.xml?query=${@:-&lt;YOURZIPORLOCATION&gt;}&quot; | perl -ne &#x27;/&lt;title&gt;([^&lt;]+)/&amp;&amp;printf &quot;%s: &quot;,$1;/&lt;fcttext&gt;([^&lt;]+)/&amp;&amp;print $1,&quot;\n&quot;&#x27;;


.ft-section
    .ft-page
        .x-stack-center
            .stacked-center
                %h1 Using Linux Commands
                %blockquote Using the Shell?

    .ft-page
        %h1 What is a command?  
        %p Commands are issued as 
        <pre>&lt;command&gt; -&lt;argument(s)&gt; &lt;optional file name&gt;</pre>
        <pre>ls -l -a</pre>
        %p ls = list files ; arguments  -l = long format;  -a = all files including 'hidden' files
        %p A command is a verb.  The the thing that takes action.   The command is a program that runs.  
        %p  The options are the 'adverbs' - qualifiers of those command 'verbs.'   
        %ul
            %li wc -m dictionary.txt 
            %li we count, characterly, the dictionary text
            %li ls -l $HOME
            %li we list, longly, our home's files
        
    .ft-page
        %h1.handson System information: date command
        
        %pre.cssterm
            :preserve
                $ date    
                $ date -h       
                $ date --help

        <pre>&lt;command&gt; --&lt;long argument&gt; </pre>
        %p unix programs LOVE shortcuts but sometimes you just have to spell it out
        %h4 Bonus
        %pre.cssterm
            $ cal
        
    .ft-page
        %h1.handson experimenting with date command
        %p The date manual says
        :preserve
            <pre>Usage: date [OPTION]... [+FORMAT]</pre>
            
        %p and lists many "formats" -let's try some 
        %pre.cssterm
            :preserve
                $ date +%F    #full date
                $ date +%B    #short date
                $ date +%A    #just the day 

        %p lesson is that not all arguments start with a dash... 
        %p bonus: use 'man' command to read about the 'cal' program
        
        
    .ft-page
        %h1.handson Informational Commands
        %p Let's experiment with commands.  You can't break the system. <br> If something goes wrong, simply close the terminal and start over. 
        %p In these examples you don't need to type in the #, it's used to make comments 
        %pre.cssterm
            :preserve
                who    # everyone who's logged in
                whoami # your user id
                pwd    # the path ofyour current location
                mod    # message of the day, if supported
                time   # not for time of day, but program timeing

        %p get quota in MB
        %pre.cssterm
            quota  # amount of disk space available to your account
            
    .ft-page
        %h1.handson getting help: man
        %p date command help is too lon; read the manual with 'man'
        %pre.cssterm
            :preserve
                $ man date
                DATE(1)                   User Commands                     DATE(1)

                NAME
                       date - print or set the system date and time

                SYNOPSIS
                       date [OPTION]... [+FORMAT]
                       date [-u|--utc|--universal] [MMDDhhmm[[CC]YY][.ss]]
        
        %p press the <b>q</b> key to quit, up &amp; down arrows to see more


<!-- ========= More Hands On ========= -->

.ft-section
    .ft-page
        .x-stack-center
            .stacked-center
                %h1 Working with files and folders
                
    .ft-page
        %h1.handson Directories = folders
        %p creating and navigating directories
        %pre.cssterm
            :preserve
                $ pwd   # print working directory?
                $ ls ~   # tilde is shortcut for your home folder
                $ mkdir class  # make a new directory for class
                $ ls    # list your files to see it
                $ chdir class
                $ pwd
                $ ls
                $ mkdir mistake  # mkdir = make directory
                $ rmdir mistake  # rmdir = rm directory
           
        %p files starting with a dot are hidden
        %p single dot shortcut for current dir, dot-dot for parent directory

    .ft-page
        %h1.handson Directories = folders
        %p Directories are hiearchical
        %pre.cssterm
            :preserve
                $ cd ~   # way to get back to home dir
                $ pwd  our folders are in /mnt/home/netid
                $ ls -l  #  Note dot .  and dot-dot .. entries
                # shortcut for current and parent

                $ what is the parent folder to our home folder?   /mnt
                
                # what is in the /mount directory?
                $ ls /mnt   

                #  or use the two dots parent folder shortcut 
                $ cd ~
                $ ls ..  # same as ls /mnt/home
                $ ls ../.. # same as ls /mnt/home
                # what is in the top or root?
                $ ls -l /    # root directory

    .ft-page
        %h1.handson Examining Files
        %p Many common single-purpose utilties for examining files
        %p Some for convenience, quick human interaction; Some designed for processing pipeline
        %pre.cssterm
            :preserve
                $ echo "Hello"                # echo = show something to screen
                $ echo "Hello" >greeting.txt  # > = direct text into a file
                $ ls -l                       # list your directory 
                $ cat greeting.txt            # cat sends file to the screen
                $ less greeting.txt           # open a long file
                # space bar, next page, up, down arrow.  press q to quit
                $ wc -l greeting.txt          # wc = wordcount, -l = count lines
           
    .ft-page
        %h1.handson Examining files, continued
        %p how to view parts of files using text utilities
        %p Linux utilties are found in /usr/bin 
        %pre.cssterm
            :preserve
                $ who     # list all users 
                $ who > userlist.txt       # save this list to a file
                $ head who   # top 10 lines
                $ head -n 1 who # first line
                $ tail -n 1 who  # last line
                $ grep billspat userlist  # replace my net id with yours
                
    .ft-page
        %h1.handson 
        %p in addition to BASH comma

    .ft-page
        %h1.handson Editing Files with Nano
        :preserve
            %pre.cssterm
                $pwd        # which folder are you in?
                $cd ~/class # make sure you are in the class folder
                $nano greeting.txt  # edit a new file

        %img(src="img/screenshot-nano.jpg" height="400px")    

    .ft-page
        %h1.handson Editing Files with Nano
        %img(src="img/screenshot-nano-typing.png" height="400px" align="right")    
        
        %ul
            %li Can only move with your cursor, not mouse
            %li move to end of "Hello" and hit enter
            %li type in "Bonjour" and hit enter
            %li type more greetings
            %li save your changes with Ctrl+W  Ctrl = Control
            %li exit with Ctrl + X        
        %p bonus: try to copy and paste other languages from the web, like Hindi
        %p bonus: display your file with cat

    .ft-page
        %h1 More on Unix Directories
        %pre.cssterm
            $ ls -l /
        %p Unix/Linux uses similar directory structure
        
        %pre
            :preserve
                Of the many folders, these are important to you
                /mnt  = folders you can use
                /tmp  = place to put anything temporary, public
                /usr/bin = linux system and shell programs (also /usr/sbin )
                /opt/software = Program applications, MatLab, etc

                On your own system, nearly all configuration files go here
                /etc
                /media
    .ft-page
        %h1 Links
        %p In the home folder, what is this?
        %pre 
            :preserve
                home -> /mnt/home
                
        %p Link, or a 'symbolic link' aka 'symlink'
        /home is not a folder, but a pointer to /mnt/home
        %p useful for shortcuts and special system configurations
        %p how to make?
        %pre.cssterm
            $ ln -s myprog  myprog-version-1
        %p you may want to make a simplified file name, but keep version numbers
            
        %p take-home message: sometimes a folder is just a link 
        
    .ft-page
        %h1 What is in a file listings
        %pre.cssterm
            $ ls -al
            
        <hr/>    
        %pre
            :preserve
                drwxr-xr-x    4 cliff    user        1024 Jun 18 09:40 hello.txt
                -rw-r--r--    1 cliff    user      767392 Jun  6 14:28 backup.tar.gz
                ^ ^  ^  ^     ^   ^       ^           ^      ^    ^      ^
                | |  |  |     |   |       |           |      |    |      |  
                | |  |  |     | owner   group       size   date  time    name 
                | |  |  |     number of links to file or directory contents
                | |  |  permissions for world
                | |  permissions for members of group
                | permissions for owner of file: r = read, w = write, x = execute -=no permission
                type of file: - = normal file, d=directory, l = symbolic link, and others...


    .ft-page
        %h1 Text vs Binary files
        %p  Thusfar we've worked with 'text' files
        %p  Most files in Windows & Mac are not plain text, but binary files
        %ul
            %li images, sounds, MS Office, fonts, Windows programs
            %li Binary : Excel  Text: CSV
        %p Why text?  Common format => Many many programs can work with

    .ft-page
        %h1.handson Manipulating Text files with Redirection
        %p Unix utilties often accept text or a file as input and output text.  They can be chained together using a technique called piping
        %p and redirection.   The special characters are >, >> and |
        %p we will use this technique to get just the greeting we want
        %pre.cssterm
            :preserve
                $ cat -n greeting.txt   # list with line numbers
                $ head -n X greeting.txt  # list up the line you want.  \
                $ tail -1 greeting.txt   # the last line
                $ head -n X greeting.txt | tail =1  # put them together with a 'pipe'
            

        
        
    .ft-page
        %h1 File Permissions
        %p permissions are to R = read a file only, w=write to a file, x = execute a file as  program
        %p u = user  = you; g = group, o= others, a = all
        %p u+x  = user can execute.   g+rw = let others in your group read and write to your files= collaboration
        :preserve
            %pre.cssterm
                $ chmod u+x pleasant.sh   # change the permissions
                $ ./pleasant.sh           # run the file
            

        
           
<!-- ========= Script Writing ========= -->
.ft-section
    .ft-page
        .x-stack-center
            .stacked-center

            %h1 Writing Scripts
            %p We are going to write a greeting script
             

    .ft-page
        %h1 First, learn about Variables
        %p The shell has special variables we all have to customize our work
        %p Variabls are made with the '=' sign, and can be shown with echo command
        %p We are going to explore how your might write a script for the computer to greet you when you log-in. 
        :preserve
            <pre>
            $ dayofweek="Wednesday"  # set a var, note no $
            $ echo $dayofweek        # display a var, must use $ 
            # bonus - what happens with no $ ?
            $  date +%A    # instead of hard coding the day, get it from a command
            $ dayofweek=`date +%A`   # using backticks in a command is how to get the results and store it
            $ echo $dayofweek      
            $ echo $USER
            $ echo "Have a nice $dayofweek, $USER!"
            </pre>

    .ft-page
        %h1.handson Scripting 
        %p Use Nano to write a new script that tells you to have a nice day
        :preserve
            <pre>
            $ nano pleasant.sh
            
            #!/usr/bin/env bash
            dayofweek=`date +%A`
            echo "Have a nice $dayofweek, $USER"
            </pre>
            
        %p press ctrl+x to save and exit
        %p run the program
        <pre>$./pleasant.sh</pre>
        %p problem...

    .ft-page
        %h1 File permissions revisited
        %p for security, not every file can be 'executed'  
        %p Scripts you create need Unix 'execute' permission for you (user), group or world
        %p Try this
        %pre.cssterm
            :preserve        
                ls -l
                $ chmod u+x pleasant.sh   # change the permissions
                $ ./pleasant.sh           # NOW execute or 'run' the script
            


    .ft-page
        %h1 Hidden Config files
        %p Many Linux programs use hidden files for configuration
        %p These are stored in your home directory (demo)
        %p bash shell runs all commands in  .bash_profile at login
        %p (and also .bashrc - see 
        %p run each time you log-in
        %pre.cssterm
            :preserve
                ls -l ~  # d
                cat ~/.bashrc
        
        %p you can add things here yourself 
        
    .ft-page
        %h1.handson Configuring your shell
        %p Let's add something to your hidden bash profile file
        %p 
        %pre.cssterm
            :preserve
                nano ~/.bash_profile
                # add this 
                # echo Hello, $USER
                # exit Nano
                $ ssh dev-intel-07
                # see message?
 
<!-- ========= Next Steps ========= -->
.ft-section
    .ft-page
        .x-stack-center
            .stacked-center
                %h1 Wrap up
                %p Questions?

    .ft-page
        %h1 Resources
        %p http://ss64.com/bash/
        %p A useful cheatsheet http://fosswire.com/post/2007/08/unixlinux-command-cheat-sheet/
        %p https://sites.google.com/site/wozoopalinux/home
        %p http://www.tldp.org/   Linux Documentation Project
        

    .ft-page
        %h1 Command line is everywhere
        %p Database Example
        %p 
            Code:<br>
            \<pre class="language-sql"><code class=" language-sql">SELECT qryClansInSessions.SESSION, qryClansInSessions.HYENAS, qryClansInSessions.clan, 
            \tblHyenasPerSession.Hyena, tblHyenas.Name, tblHyenas.Clan
            \FROM tblHyenas INNER JOIN (qryClansInSessions 
            \INNER JOIN tblHyenasPerSession ON qryClansInSessions.SESSION = tblHyenasPerSession.Session) 
            \ON tblHyenas.ID = tblHyenasPerSession.Hyena
            \WHERE (((qryClansInSessions.clan)="unk") AND ((tblHyenas.Clan) Is Null) 
            \AND ((tblHyenas.Status) Not Like "t"));</code></pre>
            (SQL)
        %p.ft-fragment 
            Visual<br/>
            %img(src="img/visual-query-access.png") <br/>
            MS Access Visual Query Builder
    .ft-page
        .stacked-center
            %h1 Thank you
            %p Pat Bills ICER billspat@msu.edu
            %p @billspat
            %p 517 353-8649
            %blockquote A bad craftsman will never find a good tool. (French proverb, late 13th C.)
